/*IMPORTING GOOGLE FRONTS*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*STOPPING IMPORTING GOOGLE FRONTS*/

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
}

.logo {
    width: 85%;
    margin-left: 5%;
    img {}
}


/*NAV */

nav {
    margin-left: 2%;
    ul {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 1%;
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 12px;
                color: #777;
                line-height: 30px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:nth-child(4) {
            float: right;
        }
    }
}

.current {
    background-color: #e7e7e7;
}


/*HR COLOR AND CSS*/

hr {
    border-color: #ccc;
    border-style: solid none none;
    border-width: 1px 0 0;
}

aside > hr {
    margin-bottom: 10%;
}


/*ASIDE */

aside {
    float: left;
    margin: 30px 28px;
    width: 20%;
}


/*ICONS*/

.fa {
    color: black;
}


/*MAIN CONTENT*/

section {
    float: left;
    width: 75%;
    article {}
    h2 {
        font-size: 20px;
    }
    img {}
    p {
        font-size: 12px;
    }
}

.author {
    color: #ccc;
    font-size: 12px;
    b {
        color: black;
    }
}


/*LOGIN */

form {
    padding-top: 10px;
}

.logIn {
    margin-left: 2.8%;
}

#uname {
    margin-top: 0.5%;
    margin-bottom: 1%;
    height: 25px;
    width: 99.8%;
}

#pword {
    margin-top: 0.5%;
    margin-bottom: 1%;
    height: 25px;
    width: 99.8%;
}

.BTNlogIN {
    height: 7vh;
    width: 80px;
    margin-bottom: 1%;
    background-color: white;
    border: #ccc solid 1.2px;
    &:hover{
        text-decoration: underline;
    }
}


/*FOOTER*/

footer {
    clear: both;
    text-align: center;
}