.wrapper {
    width: 90%;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
}

/*NAV */

nav {
    height: 40px;
    background-color: lightgray;
    ul {
        padding-top: 10px;
        
        li {
            list-style: none;
            display: inline-block;
            a {
                text-transform: uppercase;
                text-decoration: none;
                padding-right: 10px;
                font-weight: bold;
                padding-left: 20px;
                color: black;
                &:hover {
                    color: #000;
                }
            }
        }
        li:nth-child(4) {
            float: right;
        }
    }
}